<h3>Add a subscription to <%= full_name(@patient) %></h3>

<% if @prescription.errors.any? %>
  <p class="error" style="font-weight: bold">Your prescription could not be saved</p>
  <ul>
  <% @prescription.errors.full_messages.each do |msg| %>
    <li class="error"><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @prescription, url: patient_prescriptions_path(patient_id: @patient.id) do |f| %>
  <%= f.label :medication %>
  <%= f.collection_select(:medication_id, @medications, :id, :name, include_blank: true) %><br>

  <%= f.label :dosage %>
  <%= f.text_field :dosage %><br>

  <%= f.label :schedule %>
  <%= f.text_field :schedule %><br>

  <%= f.label "Starts on" %>
  <%= f.text_field :start, class: "datepicker" %><br>

  <%= f.label "Ends on" %>
  <%= f.text_field :end, class: "datepicker" %><br>

  <%= f.submit %>

<% end %>