<h1><%= @medication.name %></h1>

<div class="flash">
  <%= flash[:alert] if flash[:alert] %>
</div>

<div class="prescrip-header">
  <h2 class="prescrip">Prescriptions</h2>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Patient</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
    <th>Prescribed By</th>
  </tr>
  </thead>
  <tbody>
  <% if @medication.prescriptions %>
    <% @medication.prescriptions.each do |prescrip| %>
        <% if prescrip.medication.id == @medication.id %>
          <tr>
            <td><%= full_name(prescrip.patient) %></td>
            <td><%= prescrip.dosage %> every <%= prescrip.schedule %></td>
            <td><%= prescrip.start %> - <%= prescrip.finish %></td>
            <td><%= prescrip.user.name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

  </tbody>
</table>