<h1><%= full_name(@patient) %></h1>

<div class="flash">
  <%= flash[:alert] if flash[:alert] %>
</div>

<div class="prescrip-header">
  <h2 class="prescrip">Prescriptions</h2>
  <%= link_to "Add Prescription", new_patient_prescription_path(@patient.id) , class: "add-presc-link" %>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Medication</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
  <% if @patient.prescriptions %>
    <% @patient.prescriptions.each do |presc| %>
      <tr>
        <td><%= presc.medication.name %></td>
        <td><%= presc.dosage %> every <%= presc.schedule %></td>
        <td><%= presc.start %> - <%= presc.finish %></td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>